#content{
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 1;
    transition: all 1.2s ease;

}

#upper_line{
    position: fixed;
    width: 100vw;
    height: 6vh;
    background-color: #152430;
    z-index: 8;
    transition: transform 1.2s ease;
}

#shadow_top{
    top: 6vh;
}

#photo_box{
    height: 40vh;
    width: 100vw;
    position: relative;
    overflow: hidden;
    z-index: 9;
    transition: all 1.2s ease;
}

#slider{
    position: absolute;
    left: 0;
    height: 100%;
    min-width: 460px;
    display: flex;
    flex-direction: row;
    transition: transform 0.8s ease;
}

.photo{
    flex-shrink: 0;
    width: 100vw;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

#rubber_overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 5;
    position: absolute;
}


#rub{
    font-family: 'Roboto';
    font-size: 5vw;
    color: #EC526C;
    white-space: pre;
    font-weight: 600;
    transform: translateY(-0.5vw);
}

#price{
    font-family: 'Vostok';
    font-size: 4vw;
    color: #EC526C;
    padding-top: 1vw;
    box-sizing: border-box;
}


#rubber_path {
    fill: #EC526C; 
    will-change: d;
}

#header{
    width: 100vw;
    position: relative;
    display: flex;
    flex-direction: column;
}

#price_left{
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #152430;
    height: 7vh;
    gap: 2vw;
    padding-top: 1vw;
    box-sizing: border-box;
    width: 100vw;
    padding-left: 30vw;
}

#like {
    position: absolute;
    top: 0;
    left: 10vw;
    width: 14vw;
    height: 100%;
    background-color: #152430; 
    border: none;
    padding: 0;
    clip-path: url(#bookmark-shape);
}

#like svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -100%);
  width: 50%;
  height: auto;
}

#like:active svg {
  transform: translate(-50%, -100%) scale(0.95);
}

#like path{
    transition: all 0.1s ease;
}

#like.active path{
    fill: #EC526C;
    stroke: #EC526C;
}

.no-transition{
    transition: none !important;
}

#bookmark_shadow{
    height: 100%;
    width: 6vw;
    background: linear-gradient(90deg,rgba(15, 26, 35, 1), rgba(15, 26, 35, 0));
    position: absolute;
    left: 24vw;
}

#car_name{
    margin-top: 2vh;
    margin-left: 30vw;
    max-width: 60vw;
    display: flex;
    flex-direction: column-reverse;
}

#brand{
    margin: 0;
    top: 1vh;
    color: white;
    font-family: 'Carlito';
    font-size: 6vw;
    font-weight: 600;
    letter-spacing: 2pt;
}

#name{
    margin: 0;
    bottom: 0;
    color: #9FA3A7;
    font-family: 'Carlito';
    font-size: 6vw;
    letter-spacing: 1.5pt;
    line-height: 0.95;
    white-space: normal;
    overflow-wrap: break-word;
    hyphens: auto;
    margin-top: 1vw;
}


#info{
    height: 50vh;
    width: 80vw;
    background-color: #152430;
    border-radius: 4vw;
    overflow: hidden;
    margin-top: 6vh;
    position: relative;
}

.param{
    height: 8.5vh;
    width: 100%;
    background-color: #E5E6E7;
    overflow: hidden;
    
    display: flex;
    flex-direction: row;
    padding-left: 4vw;
    padding-right: 4vw;
    box-sizing: border-box;
    border-bottom: solid 0.5vw #9FA3A7;
}

.picture{
    height: 100%;
    width: 11vw;
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: bottom;
    margin-right: 1vw;
}

.info_block{
    height: 100%;
    min-width: 25vw;
    position: relative;
    margin-left: 5vw;
}

.label{
    color: #7B8085; 
    position: absolute;
    top: 1.2vh;
    font-family: 'Carlito';
    font-size: 4.5vw;
    letter-spacing: 0.5pt;
}

.value{
    font-family: 'Carlito';
    font-size: 4.5vw;
    color: #152430;
    font-weight: 600;
    position: absolute; 
    top: 4.1vh; 
    white-space: nowrap;
    letter-spacing: 0.5pt;
    
}

#bottom_info{
    width: 100%;
    margin-top: 5vh;
    display: flex;
    flex-direction: column;
    padding-right: 4vw;
    padding-left: 4vw;
    box-sizing: border-box;
    align-items: center;
    height: 17vh;
    justify-content: space-between;
    align-items: flex-start;
}

.param_half{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.param_value{
    font-family: 'Carlito';
    font-size: 5vw;
    letter-spacing: 2pt;
 
    color: #9FA3A7;
    margin: 0;
}

.param_type{
    font-family: 'Carlito';
    font-size: 4.5vw;
    letter-spacing: 1pt;
    color: #9FA3A7;
    margin: 0;
    transform: translateY(-1vw);
}

#split{
    width: 50%;
    height: 0;
    border-top: solid 0.25vw #9FA3A7;
}

#background_svg{
    position: absolute;
    bottom: -2vh;
    right: -10vw;
    height: 43vw;
    width: 43vw;
    background-image: url('../media/ico/measure_back.svg');
    background-size: 100% auto;
    background-repeat: no-repeat;
}


#condition{
    min-height: 50px;
    width: 100vw;
    background-color: #152430;
    overflow: hidden;
    position: relative;
    margin-top: 8vh;
}

#condition p{
    font-family: 'Carlito';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-size: 5vw;
    font-weight: 600;
    letter-spacing: 1.5pt;
    margin-top: 2vh;
    color: #9FA3A7;
}

#condition_info{
    font-family: 'Carlito';
    font-size: 4.5vw;
    width: 100%;
    margin-top: 7vh;
    color: #152430;
    padding-left: 10vw;
    padding-right: 10vw;
    padding-top: 2vh;
    padding-bottom: 3vh;
    box-sizing: border-box;
    background-color: #E5E6E7;
    hyphens: auto;
    overflow-wrap: break-word;
    word-break: normal;
}

#details{
    margin-top: 6.5vh;
    width: 80vw;
    min-height: 100px;
    margin-bottom: 120px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    position: relative;
    margin-bottom: 21vh;

}

#details::before{
    content: "";
    position: absolute;
    left: 1.75vw;
    top: 0;
    bottom: 40px;
    width: 0.5vw;
    background: #E5E6E7;
}

.circle{
    height: 4vw;
    width: 4vw;
    background-color: #E5E6E7;
    border-radius: 50%;
}

.category_block{
    width: 100%;
    min-height: 1vh;
    position: relative;
}

.head{
    height: 5vw;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.head span{
    font-family: 'Carlito';
    font-size: 5vw;
    font-weight: 600;
    letter-spacing: 0.5pt;
    color: #E5E6E7;
    margin-left: 5vw;
    display: block;
    transform: translateY(-1vw);
}

.body{
    margin-left: 2vw;
    width: calc(100% - 2vw);
    min-height: 1vh;
    padding-top: 2vh;
    padding-left: 7vw;
    padding-bottom: 5vh;
    box-sizing: border-box;
}

.car_features{
    list-style: none;
    padding: 0;
    margin: 0;
}

.car_features li{
    font-family: 'Carlito';
    font-size: 4.5vw;
    position: relative;
    padding-left: 5vw;
    margin-bottom: 1.5vw;
    line-height: 1.0;
    color: #9FA3A7;
}

.car_features li::before{
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);

    width: 1vw;
    height: 1vw;
    background: #7A7F84;
    border-radius: 50%;
}


#button_background{
    position: fixed;
    bottom: 7vh;
    left: 55vw;
    width: 45vw;
    background-color: #152430;
    height: calc(5vh + 3vw);
    z-index: 9;
    padding: 0;
    clip-path: polygon(20% 0%, 100% 0%, 100% 100%, 0% 100%);
    transition: all 0.7s ease;
}

#send{
    position: absolute;
    border: none;
    left: 1vw;
    top: 2.5vw;
    width: 100%;
    height: 100%;
    text-align: right;
    padding-right: 11vw;
    padding-bottom: 4vw;
    box-sizing: border-box;
    background-color: #EC526C;
    font-family: 'Carlito';
    font-size: 5vw;
    color: white;
    letter-spacing: 1pt;
    font-weight: 600;
    clip-path: polygon(20% 0%, 100% 0%, 100% 100%, 0% 100%);
}


#shadow_bottom2{
    position: fixed;
    bottom: 7vh;
    width: 100vw;
    height: 20vh;
    background: linear-gradient(0deg,rgba(15, 26, 35, 1), rgba(15, 26, 35, 0));
    z-index: 8;
    pointer-events: none;
}


#request_box{
    width: 80vw;
    position: fixed;
    top: 12vh;
    height: 70dvh;
    z-index: 70;
    background-color: white;
    border-radius: 4vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 6vh;
    padding-top: 5vh;
    padding-left: 5vw;
    padding-right: 5vw;
    box-sizing: border-box;
    transition: all 1.2s ease;
    transform: translateX(100vw);
}

.text_head{
    font-family: 'Carlito';
    font-size: 5vw;
    line-height: 1.2;
    color: #8C8C8C;
    margin: 0;
    margin-bottom: 1vh;
}

#phone{
    margin: 0;
    font-family: 'Carlito';
    font-size: 5vw;
    font-weight: bold;
    color: #EC526C;
    width: 100%;
    text-align: center;
}

#our_media{
    height: 6vh;
    width: 100%;
    border-bottom: solid 0.7vw #E5E6E7;
    padding-bottom: 1vh;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 7vw;
    margin-bottom: 3vh;
}

#our_media svg {
    height: 100%;
    max-width: 8vw;
}

#our_media svg path {
    fill: #9FA3A7;         
}

.user_data{
    height: 5vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.user_label{
    font-family: 'Carlito';
    font-size: 4vw;
    color: #152430;
    margin: 0;
    height: 100%;
    display: flex;
    align-items: center;
}

.user_input{
    width: 53%;
    border-radius: 4vw;
    box-sizing: border-box;
    border: solid 0.7vw #9FA3A7;
    background: white;
    padding-left: 2vw;
    font-family: 'Carlito';
    font-size: 4vw;
    font-weight: bold;
    color: #EC526C;
}

.user_input:focus{
    outline: none;
}

#send_request{
    width: 100%;
    height: 5vh;
    border-radius: 30px;
    background-color: #EC526C;
    color: white;
    font-family: 'Carlito';
    font-weight: 700;
    font-size: 5vw;
    letter-spacing: 1pt;
    border: none;
    margin-bottom: 1vh;
    margin-top: 2vh;
}

#agreement_box{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 3vw;
}

#agree{
    width: 5vw;
    height: 5vw;
    background-color: white;
    border-radius: 2vw;
    border: solid 0.7vw #9FA3A7;
    transition: all 0.4s ease;
}

#agree.active{
    background-color:#EC526C;
    border: solid 0.7vw #EC526C; 
}

#agreement{
    flex: 1;
    margin: 0;
    hyphens: auto;
    color: #9FA3A7;
    font-family: 'Carlito';
    font-size: 4vw;
}

#close{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 50%);
    width: 8vw;
    height: 8vw;
    border-radius: 50%;
    border: none;
    background-color: #9FA3A7;
    color: white;
    font-family: 'Carlito';
    font-size: 5vw;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.shake{
    animation: shake 0.3s ease;
}

@keyframes shake {
    0% { transform: translateX(0); }
    20% { transform: translateX(-3px); }
    40% { transform: translateX(3px); }
    60% { transform: translateX(-3px); }
    80% { transform: translateX(3px); }
    100% { transform: translateX(0); }
}


















#right_panel{
    position: absolute;
    width: 360px;
    height: 100%;
    right: 0;
}

.round_button{
    border-radius: 50%;
    height: 30px;
    width: 30px;
    background-color: #152430;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.4s ease;
    padding: 3px;
    box-sizing: border-box;
}


.active svg{
    fill: #9FA3A7;
    transition: all 0.4s ease;
}

.active:hover {
    background-color: #9FA3A7;
}

.active:hover svg{
    fill: white;
    transition: all 0.6s ease;
}































#success_box{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s;
    color: white;
    font-family: Calibri;
    font-weight: 700;
    font-size: 23px;
}

#success_box.active{
    opacity: 1;
    pointer-events: auto;
}

.spinner{
    width: 40px;
    height: 40px;
    border: 4px solid #ddd;
    border-top: 4px solid #4CAF50;
    border-radius: 50%;
    animation: spin 1s linear infinite;
    margin-bottom: 20px;
}

@keyframes spin{
    from{ transform: rotate(0deg); }
    to{ transform: rotate(360deg); }
}

#photo_viewer{
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.8);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.5s;
    z-index: 9999;
}

#photo_viewer.active{
    opacity: 1;
    pointer-events: auto;
}

.viewer_button{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: white;
    font-family: Calibri;
    font-weight: 700;
    font-size: 18px;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    background-color: #152430;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.4s ease;
    box-sizing: border-box;
}

.viewer_button:hover{
    background-color: #EC526C;
}

#viewer_left{
    left: 50px;
}

#viewer_right{
    right: 50px;
}
