#header{
    height: 12vh;
    width: 108vw;
    position: fixed;
    z-index: 10;
    background-color: #152430;
    top: -6vh;
    left: -8vw;
    border-radius: 10vw;
}

#header p{
    font-family: 'Vostok';
    font-size: 3vw;
    letter-spacing: 0.2vh;
    position: absolute;
    margin: 0;
    bottom: 3vh;
    transform: translateY(50%);
    left: 32vw;
    color: #9FA3A7;
}

#white_box{
    position: absolute;
    width: 28vw;
    height: 6vh;
    top: 6vh;
    background-color: #9FA3A7;
    border-radius: 8vh;
}


#white_box svg{
    position: absolute;
    left: 18vw;
    top: 3vh;
    transform: translateY(-50%);
    height: 3vh;
    width: auto;
}


#content{
    margin-top: 12vh;
}

#shadow_top{
    top: 6vh;
}

#filter_panel{
    width: 150vw;
    position: fixed;
    z-index: 30;
    left: -150vw;
    height: 90dvh;
    bottom: 10vh;
    transition: all 1s ease;
}

#filter_box{
    width: 100vw;
    height: 90vh;
    background-color: white;
    border-radius: 6vw;
    padding-left: 30vw;
    padding-top: 6vh;
    padding-bottom: 6vh;
    box-sizing: border-box;
    position: absolute;
    left: 0;
}

#filter_shadow{
    width: 60vw;
    height: 90vh;
    position: absolute;
    right: 0;
    background: linear-gradient(90deg,rgba(15, 26, 35, 1), rgba(15, 26, 35, 0));
}

#filter_content{
    width: 65vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#multi_filter{
    width: 100%;
    height: 40vh;
    display: flex;
    flex-direction: row;
}

#left_box{
    height: 100%;
    width: 45vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#distance_box{
    width: 100%;
    height: 8vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#distance_box p{
    color: #9FA3A7;
    font-family: Carlito;
    font-size: 4vw;
    letter-spacing: 0.5pt;
    margin: 0;
    
}



.input_line{
    position: relative;
    width: calc(100% - 5vw);
    height: 4.5vh;
    user-select: none;
    padding-right: 2vw;
    box-sizing: border-box;
}

#suffix,
#prefix {
    position: absolute;
    z-index: 2;
    top: 50%;
    transform: translateY(-50%);
}

#prefix{
    left: 4vw;
}

#suffix{
    right: 4vw;
}

#distance_to{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    box-sizing: border-box;
    text-align: center;
    color: #5E6266;
    font-family: Carlito;
    font-size: 4vw;
    letter-spacing: 0.5pt;
    font-weight: 600;
    border: solid 1px #9FA3A7;
    border-radius: 4vh;
}

#distance_to:focus {
    border: solid 2px #9FA3A7;
    color: #EC526C;
    outline: none;
}

#type_box{
    width: 45vw;
    height: calc(100% - 8vh);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-right: 3vw;
    padding-top: 5vw;
    box-sizing: border-box;
    transform: translateY(1vw);
}

.type_button{
    width: 100%;
    height: 5vh;
    border: none;
    color: #9FA3A7;
    font-family: Carlito;
    font-size: 4vw;
    letter-spacing: 0.5pt;
    font-weight: 400;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
    background-color: transparent;
    transition: color 0.8s ease; 
}

.type_button.clicked{
    color: #EC526C;
    font-weight: 600;
}

.type_button.clicked path{
    fill: #EC526C;
}

.for_svg{
    height: 100%;
    width: 12vw;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 2vw;
}

.type_button svg{
    max-height: 5vh;
    max-width: 12vw;
}

.type_button path{
    transition: color 0.8s ease; 
}

#color_box{
    height: 100%;
    width: 20vw;
    border-left: solid 1px #9FA3A7;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: baseline;
}

.color{
    height: 5.7vw;;
    width: 100%;
    padding: 0;
    background-color: transparent;
    border: none;
    outline: none;
    text-align: left;
    opacity: 1;
}

.color svg{
    height: 5.7vw;
    width: auto;
    margin-left: 3vw;
    transition: all 0.2s ease;
}


.color.disactive {
    opacity: 0.5;
}














#brand_box{
    width: 100%;
    height: 6vh;
    background-color: red;
}

#year_box{
    width: 100%;
    height: 10vh;
    background-color: purple;
}

#price_box{
    width: 100%;
    height: 6vh;
    background-color: red;
}

#apply{
    width: 100%;
    height: 5vh;
    font-family: Carlito;
    font-size: 5vw;
    letter-spacing: 1pt;
    border-radius: 8vw; 
    border: none; 
    color: white;
    background-color: #EC526C; 
    margin-top: 2vh;
}



#focus{
    position: fixed;
    left: -50px;
    background: linear-gradient(180deg,rgba(15, 26, 35, 1), rgba(15, 26, 35, 0.4));
    width: 100vw;
    height: 100%;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 0.8s ease, visibility 0.8s linear; 
}

#focus.active {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

#frame{
    overflow: hidden;
    position: absolute;
    z-index: 50;
    width: 100%;
    height: 350px;
    top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    pointer-events: none;
}

#frame.active {
    visibility: visible;
    pointer-events: auto;
}

#filter_container{
    width: 960px;
    height: 100%;
    padding-left: 50px;
    padding-right: 50px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.values{
    height: 100%;
    width: 40px;
    overflow: hidden;
    position: relative;
}

.in_values{
    position: absolute;
    width: 100%;
    border-radius: 10px;
    top: -10px;
    background-color: white;
    transition: transform 0.8s ease;
    transform: translateY(-100%);
    padding-top: 25px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    box-sizing: border-box;
}

.button_space{
    max-height: 280px;
    overflow: hidden; 
}

#brend_buttons{
    width: 110px;
    max-height: 280px;
}

.scroll{
    width: 2px;
    border-left: solid 1px #E5E6E7; 
    position: relative;
}

.scroll_value{
    position: absolute;
    top: 0;
    width: 100%;
    background-color: #9FA3A7;
    height: 20px;
    min-height: 20px;
    cursor: grab;
}

#brend_value{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.fitler_button{
    width: 100%;
    border: none;
    outline: none;
    font-family: "Calibri";
    font-weight: 400;
    margin-bottom: 5px;
    background: transparent;
    font-size: 17px;
    padding-left: 0;
    box-sizing: border-box;
    color: #9FA3A7;
    transition: color 0.8s ease; 
  
}

.fitler_button:hover{
    color: #EC526C;
    font-weight: 600;
}

.fitler_button.clicked{
    color: #EC526C;
    font-weight: 600;
}

.unrolled{
    transform: translateY(0);
}

.values p{
    margin: 0;
    padding: 0;
    font-family: "Calibri";
    font-weight: 400;
    color: #9FA3A7;
    font-size: 17px;
    flex-shrink: 0;
}



#color_space{
    width: 100%;
    max-height: 240px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}




.color:hover svg,
.color.active svg {
    height: 18px;
}

#type_space{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}






#year_buttons{
    width: 60px;
    max-height: 280px;
}

#year_scroll{
    width: 2px;
    border-left: solid 1px #E5E6E7; 
    position: relative;
    
}

#year_value{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
