#header{
    height: 12vh;
    width: 108vw;
    position: fixed;
    z-index: 10;
    background-color: #152430;
    top: -6vh;
    left: -8vw;
    border-radius: 10vw;
}

#header p{
    font-family: 'Vostok';
    font-size: 3vw;
    letter-spacing: 0.2vh;
    position: absolute;
    margin: 0;
    bottom: 3vh;
    transform: translateY(50%);
    left: 32vw;
    color: #9FA3A7;
}

#white_box{
    position: absolute;
    width: 28vw;
    height: 6vh;
    top: 6vh;
    background-color: #9FA3A7;
    border-radius: 8vh;
}


#white_box svg{
    position: absolute;
    left: 18vw;
    top: 3vh;
    transform: translateY(-50%);
    height: 3vh;
    width: auto;
}


#content{
    margin-top: 12vh;
}

#shadow_top{
    top: 6vh;
}

#filter_panel{
    width: 150vw;
    position: fixed;
    z-index: 30;
    left: -150vw;
    height: 90vh;
    bottom: 10vh;
    transition: all 1s ease;
}

#filter_box{
    width: 100vw;
    height: 84vh;
    background-color: white;
    border-radius: 6vw;
    padding-left: 30vw;
    padding-top: 6vh;
    padding-bottom: 6vh;
    box-sizing: border-box;
    position: absolute;
    bottom: 0;
    left: 0;
}

#filter_shadow{
    width: 60vw;
    height: 84vh;
    position: absolute;
    right: 0;
    bottom: 0;
    background: linear-gradient(90deg,rgba(15, 26, 35, 1), rgba(15, 26, 35, 0));
}

#filter_content{
    width: 65vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#multi_filter{
    width: 100%;
    height: 37dvh;
    display: flex;
    flex-direction: row;
}

#left_box{
    height: 100%;
    width: 45vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#distance_box{
    width: 100%;
    height: 8vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.label{
    color: #9FA3A7;
    font-family: Carlito;
    font-size: 4vw;
    letter-spacing: 0.5pt;
    margin: 0;
}

.input_line{
    position: relative;
    width: calc(100% - 5vw);
    height: 4.5dvh;
    user-select: none;
    padding-right: 2vw;
    box-sizing: border-box;
}

#suffix,
#prefix {
    position: absolute;
    z-index: 2;
    top: 50%;
    transform: translateY(-50%);
}

#prefix{
    left: 4vw;
}

#suffix{
    right: 4vw;
}

#distance_to{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    box-sizing: border-box;
    text-align: center;
    color: #5E6266;
    font-family: Carlito;
    font-size: 4vw;
    letter-spacing: 0.5pt;
    font-weight: 600;
    border: solid 1px #9FA3A7;
    border-radius: 4dvh;
}

#distance_to:focus {
    border: solid 2px #9FA3A7;
    color: #EC526C;
    outline: none;
}

#type_box{
    width: 45vw;
    height: calc(100% - 8vh);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-right: 3vw;
    padding-top: 5vw;
    box-sizing: border-box;
    transform: translateY(1vw);
}

.type_button{
    width: 100%;
    height: 5dvh;
    border: none;
    color: #9FA3A7;
    font-family: Carlito;
    font-size: 4vw;
    letter-spacing: 0.5pt;
    font-weight: 400;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
    background-color: transparent;
    transition: color 0.8s ease; 
}

.type_button.clicked{
    color: #EC526C;
    font-weight: 600;
}

.type_button.clicked path{
    fill: #EC526C;
}

.for_svg{
    height: 5dvh;
    width: 12vw;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 2vw;
}

.type_button svg{
    max-height: 5dvh;
    max-width: 12vw;
}

.type_button path{
    transition: color 0.8s ease; 
}

#color_box{
    height: 100%;
    width: 20vw;
    border-left: solid 1px #9FA3A7;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: baseline;
}

.color{
    height: 5.7vw;;
    width: 100%;
    padding: 0;
    background-color: transparent;
    border: none;
    outline: none;
    text-align: left;
    opacity: 1;
}

.color svg{
    height: 5.7vw;
    width: auto;
    margin-left: 3vw;
    transition: all 0.2s ease;
}


.color.disactive {
    opacity: 0.5;
}

#brand_box{
    width: 100%;
    height: 6vh;
    overflow: hidden;
    position: relative;
}

#scroll_box{
    height: 0.7vw;
    width: 100%;
    border-top: solid 1px #9FA3A7;
    position: absolute;
    bottom: 0;
    box-sizing: border-box;
}

#scroll_value{
    height: 0.5vw;
    background-color: #8C8C8C;
    width: 5vw;
    transition: transform 0.05s linear;
}

#slider_box{
    position: absolute;
    bottom: 0.7vw;
    top: 3vw;
    overflow: hidden;
    width: 100%;
    border-right: solid 2px white;
    box-sizing: border-box;
}

#slider{
    position: absolute;
    transform: translateX(0);
    display: flex;
    flex-direction: row;
    height: 100%;
    will-change: transform;
}

#slider button{
    padding-left: 3vw;
    padding-right: 3vw;
    box-sizing: border-box;
    color: #5E6266;
    font-family: Carlito;
    font-size: 4vw;
    letter-spacing: 0.5pt;
    font-weight: 600;
    background-color: white;
    border: none;
}

#white_shadow{
    position: absolute;
    right: 0;
    height: calc(100% - 0.7vw);
    width: 10vw;
    z-index: 50;
    background: linear-gradient(270deg,rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
}


#year_box{
    width: 100%;
    height: 9vh;
    position: relative;
}

#axis_wrap{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 4vh;
    display: flex;
    justify-content: center;
}

#axis{
    width: calc(100% - 18vw);
    height: 100%;
    border-top: solid 1px #9FA3A7;
    box-sizing: border-box;
    position: relative;
}

.value{
    position: absolute;
    top: 0;
    height: 100%;
    width: 9vw;
}

.circle{
    width: 4vw;
    height: 4vw;
    background-color: #9FA3A7;
    border-radius: 50%;
    position: absolute;
    top: -2vw;
    touch-action: none;
}

.year_value{
    position: absolute;
    top: 3.5vw;
    color: #5E6266;
    font-family: Carlito;
    font-size: 4vw;
    letter-spacing: 0.5pt;
    margin: 0;
    font-weight: 600;
}

#circle_left,
#year_from{
    right: 0;
}

#value_left{
    left: -7vw;
    transform: translateX(0);
}

#value_right{
    right: -7vw;
    transform: translateX(0);
}

#year_from{
    transform: translateX(-1vw);
}

#year_to{
    transform: translateX(1vw);
}


#price_box{
    width: 100%;
    height: 4.5dvh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.input_wrap{
    height: 4.5dvh;
    width: 45%;
    position: relative;
}

#price_box input{
    height: 100%;
    box-sizing: border-box;
    color: #5E6266;
    font-family: Carlito;
    font-size: 4vw;
    letter-spacing: 0.5pt;
    font-weight: 600;
    border: solid 1px #9FA3A7;
    border-radius: 4dvh;
    width: 100%;
    padding-left: 3vw;
}

#price_box input:focus{
    border: solid 2px #9FA3A7;
    color: #EC526C;
    outline: none;
}

#price_box p{
    color: #9FA3A7;
    font-family: Carlito;
    font-size: 3.5vw;
    letter-spacing: 0.5pt;
    margin: 0;
}

.rub{
    position: absolute;
    right: 3vw;
    top: 50%;
    transform: translateY(-50%);
}

#apply{
    width: 100%;
    height: 5vh;
    font-family: Carlito;
    font-size: 5vw;
    letter-spacing: 1pt;
    border-radius: 8vw; 
    border: none; 
    color: white;
    background-color: #EC526C; 
    margin-top: 2vh;
}
