.content_row{
    width: 655px;
    height: 300px;
    display: flex;
    flex-direction: row;
    
    margin-top: 50px;
    gap: 20px;
}

#manage{
    display: block;
    position: absolute;
    top: 203px;
    bottom: 0;
    right: calc(50% - 430px);
    height: calc(100% - 263px);
    width: 200px;
    background: #E5E6E7;
    position: fixed;
    z-index: 15;
    border-radius: 30px;
    padding: 15px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    opacity: 1;
    transition: all 0.6s ease;
}

#manage_content{
    width: 100%;
}

#manage_head{
    width: 100%;
    height: 90px;
    font-family: Calibri;
    font-size: 18px;
    color: #9FA3A7;
}

.head_top{
    color: #5E6266;
}

#phone_number{
    width: 100%;
    height: 35px;
    border-radius: 30px;
    box-sizing: border-box;

    border: none;
    background: white;
    padding-left: 12px;
    font-family: Calibri;
    font-size: 18px;
    font-weight: bold;
    color: #9FA3A7;
}

#phone_number::placeholder{
    color: #9FA3A7;
}

#phone_number:focus{
    outline: none;
}

#confirm{
    width: 100%;
    border-radius: 30px;
    margin-top: 28px;
    margin-bottom: 28px;
    height: 35px;
    color: white;
    background-color: #EC526C;

    border-radius: 50px;
    font-family: Calibri;
    font-weight: 700;
    font-size: 21px;
    letter-spacing: 1.33px;
    border: none;
    transition: all 0.4s ease;
}

#confirm:hover{
    filter: saturate(150%) brightness(90%);
}

#agreement{
    width: 100%;
    display: flex;
    flex-direction: row;
}

#agree{
    width: 20px;
    height: 20px;
    background-color: white;
    border-radius: 6px;
    border: solid 2px #9FA3A7;
    transition: all 0.4s ease;
}

#agree:hover{
    border: solid 2px #EC526C; 
}

#agree.active{
    background-color:#EC526C;
    border: solid 2px #EC526C; 
}

#agreement p{
    width: 143px;
    margin-left: 7px;
    margin-top: 0;
    margin-bottom: 0;
    hyphens: auto;
    overflow-wrap: normal;
    padding: 0;
    white-space: normal;
    color: #9FA3A7;
    font-family: Calibri, sans-serif;
    font-size: 17px;
    line-height: 18px;
}

body:has(#content .content_item:hover) #manage{
    opacity: 0.4;
}

body:has(#manage:hover) #content{
    opacity: 0.4;
}

.shake{
    animation: shake 0.3s ease;
}

@keyframes shake {
    0% { transform: translateX(0); }
    20% { transform: translateX(-3px); }
    40% { transform: translateX(3px); }
    60% { transform: translateX(-3px); }
    80% { transform: translateX(3px); }
    100% { transform: translateX(0); }
}