#manage{
    position: fixed;
    top: -10vh;
    height: calc(24vh + 5vw);
    width: 100vw;
    background: #E5E6E7;
    z-index: 15;
    border-radius: 4vw;
    box-sizing: border-box;
    overflow: hidden;
}

#shadow_top{
    top: calc(14vh + 5vw);
}

#content{
    margin-top: calc(20vh + 5vw);;
}

#manage_content{
    position: absolute;
    top: calc(10vh + 5vw);
    left: 10vw;
    width: 80vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#head_top{
    width: 50%;
    color: #6E7378;
    font-family: 'Carlito';
    font-size: 4.5vw;
    line-height: 1.2;
    font-weight: 600;
    margin: 0;
    hyphens: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#right_half{
    width: 45%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 11vh;
}


#phone_number{
    width: 100%;
    height: 4.5vh;
    border-radius: 4vw;
    box-sizing: border-box;
    font-family: 'Carlito';

    border: none;
    background: white;
    padding-left: 2.5vw;
    
    font-size: 4vw;
    font-weight: bold;
    color: #9FA3A7;
}

#phone_number::placeholder{
    color: #9FA3A7;
}

#phone_number:focus{
    outline: none;
}

#confirm{
    width: 100%;
    border-radius: 4vw;
    height: 4.5vh;
    color: white;
    background-color: #EC526C;
    font-family: 'Carlito';
    font-weight: 600;
    font-size: 4.5vw;
    letter-spacing: 1.5pt;
    border: none;
}

#agreement{
    position: absolute;
    background-color: blue;
    bottom: 5vw;
    left: 10vw;
    width: 80vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 3vw;
}

#agree{
    width: 5vw;
    height: 5vw;
    background-color: white;
    border-radius: 2vw;
    border: solid 0.7vw #9FA3A7;
    transition: all 0.4s ease;
}

#agree.active{
    background-color:#EC526C;
    border: solid 0.7vw #EC526C; 
}

#agree_text{
    flex: 1;
    margin: 0;
    hyphens: auto;
    color: #9FA3A7;
    font-family: 'Carlito';
    font-size: 4vw;
}


.shake{
    animation: shake 0.3s ease;
}

@keyframes shake {
    0% { transform: translateX(0); }
    20% { transform: translateX(-3px); }
    40% { transform: translateX(3px); }
    60% { transform: translateX(-3px); }
    80% { transform: translateX(3px); }
    100% { transform: translateX(0); }
}
